<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  </head>
  <body >
    
    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <span>Welcome </span>  
        <span [innerHTML]='userName'></span>
      </div>
    </div>   

    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <small>V1.0</small>
        <a class="btn btn-outline-danger btn-sm" style="float: right;" (click)="Logout()">Logout</a>     
      </div>
    </div>
</body>
</html>
<!doctype html>

